.main {
  padding: 60px 0;
}

.inner {
  max-width: calc(1000px + 10%);
  padding: 0 5%;
  margin: 0 auto;
}

.container {
  padding: 60px 0;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.recipelist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe {
  width: 320px;
  list-style: none;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.recipe span {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 16px;
}
.recipe button {
  display: block;
  margin: 0 auto;
  font-size: 26px;
  color: rgba(83, 111, 253, 0.933);
  background-color: #fff;
  padding: 6px 10px;
  border: solid 1px rgba(83, 111, 253, 0.933);
  border-radius: 5px;
}

.addedIngredients {
  text-align: center;
  display: grid;

  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.addedIngredients li {
  list-style: none;
  display: block;
}
.addedIngredients li span {
  display: block;
}
.addedIngredients button {
  margin: 5px;
}

.shoppingList {
  display: flex;
  justify-content: space-between;
}
.shoppingList > div {
  width: 45%;
}
